<!--
  Author:    Cole Hanlon
  Partner:   Tyler Harkness
  Date:      12/8/2022
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Cole Hanlon, Tyler Harkness - This work may not be copied for use in Academic Coursework.

  I, Cole Hanlon & Tyler Harkness, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     This EnrollmentTrendsPie.cshtml file contains all contents for a bootstrap page which holds input fields and connection
     to the database to draw a pie chart of most recent enrollment counts from today.
-->
@using Microsoft.AspNetCore.Identity
@using TAApplication.Areas.Data
@inject UserManager<TAUser> um
@model IEnumerable<TAApplication.Models.Course>
@{
    ViewData["Title"] = "Enrollment Trends";

    List<Course> allCourses = new List<Course>();
    foreach (var course in Model)
    {
        allCourses.Add(course);
    }
    allCourses.OrderBy(c => c.department).ThenBy(c => c.courseNumber);
}
@section Scripts{

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/10.3.2/highcharts.js" integrity="sha512-JVzXlL1mZb/G0YNUJtPqUzA/QtPMQLNpCtEBOV9R8P3Uskp4W0C+6SVZ3rpwnKcp/V/59YQoGNUYmB/N6do1sA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/Admin/EnrollmentPie.js" asp-append-version="true"></script>
}

    <h1>Enrollment Counts Today</h1>
    <p>Enrollments as of Today: <input type="text" id="endDate" disabled=True value="@DateTime.Now.ToString("MM/dd/yyyy")"></p>

    <div class="form-group">
        <label class="control-label">Course</label>
        <select class="form-control" style="width:250px" id="course">
            @{
            foreach (var course in allCourses)
            {
                <option value="@course.department @course.courseNumber">@course.department, @course.courseNumber</option>
            }
        }
    </select>
</div>
<br />
<button class="btn btn-warning" id="get_data" onclick="getData()">Get Data</button>
<div class="spinner-border text-dark" id="spinner" role="status">
</div>
<hr>
<figure class="highcharts-figure">
    <div id="EnrollmentPie"></div>
    <p class="highcharts-description">
        Pie chart displaying total enrollment count in course as of today
    </p>
</figure>