@using Microsoft.AspNetCore.Identity
@using TAApplication.Areas.Data
@inject UserManager<TAUser> um
@{
    ViewData["Title"] = "Role Management";
}

<h1>Role Assignments</h1>
@section Scripts{
<script src="~/js/Admin/Roles.js" asp-append-version="true"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
}
    @section Styles{

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
}

 @*@await RenderSectionAsync("Styles",required:false);*@

<table id="roles_table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>UofU ID</th>
            <th>Administrator</th>
            <th>Professor</th>
            <th>Applicant</th>
        </tr>
    </thead>
    <tbody>
        @{
            List<TAUser> users = um.Users.ToList();

            foreach (TAUser user in users)
            {
                var userRoll = await um.GetRolesAsync(user);
                                <tr>
                                    <td>@user.FullName</td>
                                    <td>@user.Unid</td>
                                    <td>
                                        @{
                            if (userRoll.Contains("Administrator") )
                            {
                                                                <input type="checkbox" onclick="Change_Role('@user.Id', 'Administrator')" checked data-toggle="toggle" data-size="xs">
                            }
                            else
                            {
                                                                <input type="checkbox"  onclick="Change_Role('@user.Id', 'Administrator')" data-toggle="toggle" data-size="xs">
                            }
                                        }

                                    </td>
                                    <td>
                                        @{
                            if (userRoll.Contains("Professor"))
                            {
                                                                <input type="checkbox" onclick="Change_Role('@user.Id', 'Professor')" checked data-toggle="toggle" data-size="xs">
                            }
                            else
                            {
                                                                <input type="checkbox" onclick="Change_Role('@user.Id', 'Professor')" data-toggle="toggle" data-size="xs">
                            }
                                        }
                                    </td>
                                    <td>
                                        @{
                            if (userRoll.Contains("Applicant"))
                            {
                                                                <input type="checkbox" onclick="Change_Role('@user.Id', 'Applicant')" checked data-toggle="toggle" data-size="xs">
                            }
                            else
                            {
                                                                <input type="checkbox" onclick="Change_Role('@user.Id', 'Applicant')" data-toggle="toggle" data-size="xs">
                            }
                                        }

                                    </td>
                                </tr>
            }
        }
    </tbody>
</table>
