@model IEnumerable<TAApplication.Models.Application>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pursuing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dept)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.avaliableBeforeSchoo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.semestersCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transferSchool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.linkedInURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.resumeFileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pursuing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.avaliableBeforeSchoo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semestersCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transferSchool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.linkedInURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resumeFileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
