<!--
  Author:    Cole Hanlon
  Partner:   Tyler Harkness
  Date:      10/7/2022
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Cole Hanlon, Tyler Harkness - This work may not be copied for use in Academic Coursework.

  I, Cole Hanlon & Tyler Harkness, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     This list.cshtml contains a detailed list of all users that have submitted an application.
-->
@model IEnumerable<TAApplication.Models.Application>

@{
    ViewData["Title"] = "Index";
}
@section Scripts{
    <script src="~/js/Home/ApplicantList.js" asp-append-version="true"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
}

<h1>Applicant List</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Applicant
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pursuing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dept)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModificationDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">
                        @item.TAUser.FullName
                </a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pursuing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModificationDate)
            </td>
        </tr>
}
    </tbody>
</table>